footer.footer
	.container
		.row
			.col-md-3.facebook
				h5 Síguenos en facebook:
				a(href="https://www.facebook.com/thetourist.pe/?fref=ts") www.facebook.com/thetourist.pe
			.col-md-3.promo
				h5 Inscríbete en la web:
				a(href="http://tourstap.com/") www.thehourist.pe
			.col-md-3.email
				h5 Escríbenos a:
				a(href=" ") contact@thetourist.pe
			.col-md-1.col-md-offset-1
				+png("Logo superior")