title The TourStap
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(property="og:title" content="The Tourstap")
meta(property="og:description" content="Una nueva forma de disfrutar tus viajes")
meta(property="og:image" content="../img/facebook_share.jpg")
meta(property="og:title" content="http://tourstap.com/")
link(rel="icon" href="assets/img/favicon.ico" type="image/x-icon")
link(rel="stylesheet", href="assets/css/bootstrap.min.css")
link(rel="stylesheet", href="assets/css/main.css")