aside#second
	.container
		.col-md-11
			h3 Bienvenido a nuestra comunidad The Tourist
			span#maquina
			p Gracias por ser parte de nuestra comunidad, The Tourist App, te da la bienvenida y te agradece por tu participación. Juntos iniciaremos un nuevo recorrido de aventuras e historias inolvidables.
			p Esta es una prueba  de pre lanzamiento para ayudarte a descubrir lo que The Tourist te ofrecerá en muy poco tiempo.<br>Por participar de este evento, estarás ganando puntos los cuales podrás canjear en descuentos. Pasa la voz, The Tourist está cerca.