section#offer
	.col-md-12.shop.text-center
		h2	¡Vive la experiencia de estos descuentos!
		.col-md-3.item
			img.img-responsive(src='./assets/img/D1.jpg')
			h4 Sandboard y Sandbuggles
			h5 Full adrenalina
			p.realprice
				strike Precio Real: s/. 70.00
			p.alcance 
				strong Quedan 10 cupos.
			p.time 
				strong Tiempo Ilimitado: 3d 20:45:30
			p.description
				ol.text-left
					li <sup>*</sup>Vive una experiencia única practicando sandboard y sandbuggles en las dunas de la Huacachina.
					li <sup>*</sup>Canjes del cupón con una semana de anticipación.
					li <sup>*</sup>Cupón válido hasta el día 15 de Agosto del 2016.
					li <sup>*</sup>Cupón válido para una persona, no Transferible.
					li <sup>*</sup>No incluye Movilidad
		.col-md-3.item
			img.img-responsive(src='./assets/img/D2.jpg')
			h4 Islas Ballestas
			h5 Misterio y Aventura
			p.realprice
				strike Precio Real: s/. 60.00
			p.alcance 
				strong Quedan 5 cupos.
			p.time 
				strong Tiempo Ilimitado: 3d 20:45:30
			p.description
				ol.text-left
					li <sup>*</sup> Sorpréndete con el encanto de las Islas Ballestas. Visita el candelabro(Islas), puerto Jose de San Martin, y conoce la increíble fauna marítima.
					li <sup>*</sup>Canjes del cupón con una semana de anticipación.
					li <sup>*</sup>Cupón válido hasta el día 15 de Agosto del 2016.
					li <sup>*</sup>Cupón válido para una persona, no Transferible.
					li <sup>*</sup>No incluye Movilidad
		.col-md-3.item
			img.img-responsive(src='./assets/img/D3.jpg')
			h4 Reserva Paracas
			h5 Paraiso Marítimo
			p.realprice
				strike Precio Real: s/. 50.00
			p.alcance
				strong Quedan 15 cupos.
			p.time
				strong Tiempo Ilimitado: 3d 20:45:30
			p.description
				ol.text-left
					li <sup>*</sup> Descubre lo que Paracas tiene para tí, en un recorrido por su circuito de playas. Apreciando no solo la majestuosidad de sus playas sino también la fauna marítima.
					li <sup>*</sup>Canjes del cupón con una semana de anticipación.
					li <sup>*</sup>Cupón válido hasta el día 15 de Agosto del 2016.
					li <sup>*</sup>Cupón válido para una persona, no Transferible.
					li <sup>*</sup>No incluye Movilidad
		.col-md-3.item
			img.img-responsive(src='./assets/img/D4.jpg')
			h4 Ica
			h5 Ciudad del eterno sol.
			p.realprice
				strike Precio Real: s/. 40.00
			p.alcance
				strong Quedan 5 cupos.
			p.time
				strong Tiempo Ilimitado: 3d 20:45:30
			p.description
				ol.text-left
					li <sup>*</sup> Conoce más de la cuidad del eterno sol con un tour guiado por los principales atractivos de Ica como:Plaza de Armas, Pueblo de Cachiche y la bodega vitivinícola "El Catador".
					li <sup>*</sup>Canjes del cupón con una semana de anticipación.
					li <sup>*</sup>Cupón válido hasta el día 15 de Agosto del 2016.
					li <sup>*</sup>Cupón válido para una persona, no Transferible.
					li <sup>*</sup>No incluye Movilidad