section#offer
	.col-md-12.shop.text-center
		h2	¡Vive la experiencia de estos descuentos!
		.col-md-3.item
			+jpg("D1")
			h4 Adrenalidana en Sandboarding
			p.realprice
				strike Precio Real: s/. 40.00
			p.alcance 
				strong Quedan 10 cupos.
			p.time 
				strong Tiempo Ilimitado: 3d 20:45:30
		.col-md-3.item
			+jpg("D2")
			h4 Calidad  en el restaurante SSSS
			p.realprice
				strike Precio Real: s/. 24.00
			p.alcance 
				strong Quedan 5 cupos.
			p.time 
				strong Tiempo Ilimitado: 3d 20:45:30
		.col-md-3.item
			+jpg("D3")
			h4 Aventura en los Areneros
			p.realprice
				strike Precio Real: s/. 60.00
			p.alcance
				strong Quedan 15 cupos.
			p.time
				strong Tiempo Ilimitado: 3d 20:45:30
		.col-md-3.item
			+jpg("D4")
			h4 Comodidad en el hotel Las Dunas
			p.realprice
				strike Precio Real: s/. 150.00
			p.alcance
				strong Quedan 5 cupos.
			p.time
				strong Tiempo Ilimitado: 3d 20:45:30