section#offer
	.col-md-12.shop.text-center
		h2	¡Vive la experiencia de estos descuentos!
		.col-md-3.item
			+jpg("D1")
			h4 Sandboard y Sandbuggles
			h5 Full adrenalina
			p.realprice
				strike Precio Real: s/. 70.00
			p.alcance 
				strong Quedan 10 cupos.
			p.time 
				strong Tiempo Ilimitado: 3d 20:45:30
		.col-md-3.item
			+jpg("D2")
			h4 Islas Ballestas
			h5 Misterio y Aventura
			p.realprice
				strike Precio Real: s/. 60.00
			p.alcance 
				strong Quedan 5 cupos.
			p.time 
				strong Tiempo Ilimitado: 3d 20:45:30
		.col-md-3.item
			+jpg("D3")
			h4 Reserva Paracas
			h5 Paraiso Marítimo
			p.realprice
				strike Precio Real: s/. 50.00
			p.alcance
				strong Quedan 15 cupos.
			p.time
				strong Tiempo Ilimitado: 3d 20:45:30
		.col-md-3.item
			+jpg("D4")
			h4 Ica
			h5 Ciudad del eterno sol.
			p.realprice
				strike Precio Real: s/. 40.00
			p.alcance
				strong Quedan 5 cupos.
			p.time
				strong Tiempo Ilimitado: 3d 20:45:30