include views/helpers/variables
include views/helpers/mixin
doctype html
html(lang="en")
	head
		include views/head
	body
		include views/main_content_dos.jade
		include views/shop_2.jade
		include views/footer.jade
		script(src='https://code.jquery.com/jquery-2.2.2.js')
		script(src='assets/js/main.js')
		script(src='assests/js/main2.js')