include views/helpers/variables
include views/helpers/mixin
doctype html
html(lang="en")
	head
		include views/head
	body
		include views/main_content.jade
		include views/shop.jade
		include views/footer.jade