@font-face{
	font-family:"San Francisco";
	src:url('../../assets/font/SF-UI-Display-Bold.woff');
	font-weight: bold;
}
@font-face{
	font-family:"San Francisco";
	src:url('../../assets/font/SF-UI-Display-Light.woff');
	font-weight: 100;
}
@font-face{
	font-family:"San Francisco";
	src:url('../../assets/font/SF-UI-Display-Medium.woff');
	font-weight: 400;
}
@font-face{
	font-family:"San Francisco";
	src:url('../../assets/font/SF-UI-Display-UltraLight.woff');
	font-weight: lighter;
}