@import "_variables.scss";
@import "_base.scss";
@import "_mixin.scss";
*{
	font-family: "San Francisco";
}
aside{
	height: 900px;
	background: url(../img/Fotolia_81268168_M.png) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	.opacity {
		background-color: rgba(0, 0, 0, 0.20);
		height: 900px;
	}
	.logo{
		padding: 3%;
	}	
	input{
		width: 100%;
		margin-bottom: 8%;
		font-size: 18px;
		font-weight: 100;
		padding: 2%;
		border:none;
		border-radius: 5px;
	}
	.inscription{
		padding-top: 3%;
  		@media (max-width: 767px) {
  			display:block;
  		}
		.info{
			h2{
				font-weight: bold;
				font-size: 36px;
			}
			ol, ul{
				font-weight: 100;
				font-size: 18px;
				li{
					margin-bottom: 4%;
				}
			}
			ul{
				padding: 0;
				list-style: none;
			}
		}
		.form{
			background-color: rgba(8, 8, 8, 0.56);
			padding: 8% 3% 5%;
			border-radius: 15px;
			margin-left: 11.666667%;
			@media (max-width: 767px) {
  			margin-left:0;
  			}
			.caution{
				width: 100%;
				font-size: 15px;
				font-weight: lighter;
				margin: 6% 0;
			}
			.btn{
				border:none;
			}
			.boton{
				width: 33%;
    			float: right;
    			background-color: #8EB22A;
    			font-size:18px;
			}
			.selfie{
				background-color: #00BCD0;
				font-size:18px;
			}
		}
		.info{
			padding-top: 2%;
		}
	}
}
*::-webkit-input-placeholder {
    /* Google Chrome y Safari */
   	color:#6a6a6a;
    font-weight: 100;
    font-size: 18px;
    padding-left: 2%;
}
#offer{
	h2{
    	font-weight: bold;
    	font-size: 48px;
    	margin: 4% 0;
    }
    h4{
    	font-size: 18px;
    	font-weight: 100;
    }
	.shop{
		color:#000;
	}
	.item{
		color:#000;
	}
	.alcance, .time, .realprice{
		font-size: 14px;
		font-weight: 400;
	}
	.alcance, .time{
		color:#FF2e41;
	}
}
footer{
	padding: 3%;
	background-color:#000;
	height: auto;
    overflow: hidden;
    color: #fff;
    h5{
    	font-weight: 100;
    	font-size: 24px;
    }
    a{
    	font-weight: lighter;
    	font-size: 20px;
    	color: #fff;
    }
    .promo{
    	margin-left: 4%;
    }
}